 <!-- start about section -->
    <section id="about" class="no-padding wow fadeIn">
        <div class="container-fluid">
            <div class="row equalize xs-equalize-auto">
                <div class="col-lg-4 col-sm-6 col-xs-12 bg-extra-dark-gray wow fadeIn">
                    <div class=" display-table height-100 padding-six-all xs-padding-50px-tb xs-padding-15px-lr">
                        <div class="display-table-cell vertical-align-middle">
                            <h5 class="alt-font text-white">We provide high quality and cost effective services</h5>
                            <p class="text-extra-large font-weight-300 text-extra-light-gray">Since our foundation in
                                2005 our goal has been to use digital technology to create experiences.</p>
                            <p class="width-90 xs-width-100">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard
                                dummy text since. Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 bg-extra-dark-gray display-table cover-background xs-height-400px wow fadeIn"
                    style="background-image: url('/images/about-img1.jpg')"><h1></h1></div>
                <div class="col-lg-4 col-sm-12 col-xs-12 bg-extra-dark-gray display-table padding-six-all xs-padding-50px-tb xs-padding-15px-lr wow fadeIn">
                    <div class="display-table-cell vertical-align-middle">
                        <h5 class="alt-font text-white margin-35px-bottom xs-margin-15px-bottom">We provide high
                            quality and cost effective offshore web services.</h5>
                        <!-- start progress-bar -->
                        <div class="skillbar-bar-main skillbar-bar-style3">
                            <!-- start progress bar item -->
                            <div class="skillbar margin-45px-bottom" data-percent="92%">
                                <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Jquery - 4
                                    years Experience</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent text-small"></span>
                            </div>
                            <!-- end progress bar item -->
                            <!-- start progress bar item -->
                            <div class="skillbar margin-45px-bottom" data-percent="97%">
                                <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Wordpress -
                                    6 years Experience</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent text-small"></span>
                            </div>
                            <!-- end progress bar item -->
                            <!-- start progress bar item -->
                            <div class="skillbar margin-45px-bottom" data-percent="98%">
                                <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">HTML5 - 5
                                    years Experience</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent text-small"></span>
                            </div>
                            <!-- end progress bar item -->
                            <!-- start progress bar item -->
                            <div class="skillbar" data-percent="92%">
                                <span class="skill-bar-text text-extra-small text-uppercase text-dark-gray">Photography
                                    - 6 years Experience</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent text-small"></span>
                            </div>
                            <!-- end progress bar item -->
                        </div>
                        <!-- end progress-bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->