 <!-- start services section -->
    <section id="services" class="no-padding wow fadeIn bg-light-gray">
        <div class="container-fluid">
            <div class="row equalize sm-equalize-auto"> 
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 wow fadeInLeft no-padding-lr xs-padding-30px-tb sm-padding-15px-lr">
                    <div class="padding-eight-all pull-left md-padding-eight-all sm-no-padding-lr xs-padding-20px-tb">
                        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 margin-six-bottom md-margin-six-bottom sm-margin-30px-bottom xs-no-margin-bottom xs-no-padding-lr">
                            <h4 class="alt-font text-extra-dark-gray font-weight-600 sm-text-center sm-width-70 sm-margin-lr-auto xs-width-100 xs-margin-30px-bottom">We are delivering beautiful digital products for you</h4>
                        </div>
                        <div class="col-2-nth">
                            <!-- start feature box item -->
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 margin-six-bottom sm-margin-30px-bottom xs-no-padding-lr last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-desktop text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-extra-dark-gray margin-5px-bottom alt-font font-weight-600">Powerful Website Builder</div>
                                        <p class="width-95 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 margin-six-bottom sm-margin-30px-bottom xs-no-padding-lr last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-book-open text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-extra-dark-gray margin-5px-bottom alt-font font-weight-600">Different Layout Type</div>
                                        <p class="width-95 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 md-margin-six-bottom sm-no-margin-bottom xs-margin-30px-bottom xs-no-padding-lr last-paragraph-no-margin">
                                <div class="feature-box-5 position-relative">
                                    <i class="icon-wallet text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-extra-dark-gray margin-5px-bottom alt-font font-weight-600">True Responsiveness</div>
                                        <p class="width-95 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col-lg-6 col-md-12 col-sm-6 col-xs-12 last-paragraph-no-margin xs-no-padding-lr">
                                <div class="feature-box-5 position-relative ">
                                    <i class="icon-camera text-medium-gray icon-medium"></i>
                                    <div class="feature-content">
                                        <div class="text-extra-dark-gray margin-10px-bottom alt-font font-weight-600">Elegant / Unique design</div>
                                        <p class="width-95 xs-width-100">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end feature box item -->
                        </div>
                    </div>
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cover-background sm-height-400px wow fadeInRight" style="background-image:url('../images/services-classic-07.jpg');"></div>
            </div>
        </div>
    </section>
    <!-- end services section -->