 <!-- start form section-->
    <section class="wow fadeIn border-bottom border-color-extra-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                    <i class="icon-map-pin icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Visit
                        Our Office</div>
                    <p class="width-70 md-width-85 sm-width-70 xs-margin-10px-bottom center-col">401 Broadway, 24th
                        Floor New York, NY 10013.</p>
                    <a href="javascript:void(0);" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small">GET
                        DIRECTION</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-eight-bottom xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin"
                    data-wow-delay="0.2s">
                    <i class="icon-chat icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Let's
                        Talk</div>
                    <p class="width-70 md-width-85 sm-width-70 xs-margin-10px-bottom center-col">Phone: 1-800-222-000<br>Fax:
                        1-800-222-002</p>
                    <a href="javascript:void(0);" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small">call
                        us</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom wow fadeInUp last-paragraph-no-margin"
                    data-wow-delay="0.4s">
                    <i class="icon-envelope icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail
                        Us</div>
                    <p class="width-70 md-width-85 sm-width-70 xs-margin-10px-bottom center-col"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a><br><a
                            href="mailto:hr@yourdomain.com">hr@yourdomain.com</a></p>
                    <a href="javascript:void(0);" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small">send
                        e-mail</a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp last-paragraph-no-margin"
                    data-wow-delay="0.6s">
                    <i class="icon-megaphone icon-medium margin-25px-bottom xs-margin-10px-bottom"></i>
                    <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Customer
                        Services</div>
                    <p class="width-70 md-width-85 sm-width-70 xs-margin-10px-bottom center-col">Lorem Ipsum is simply
                        dummy text of the printing.</p>
                    <a href="javascript:void(0);" class="margin-15px-top text-decoration-line-through-deep-pink display-inline-block text-uppercase text-deep-pink text-small">open
                        ticket</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end form section-->
